@font-face {
  font-family: milkshake;
  src: url(../fonts/Milkshake.otf); }

.backgroundTopBlock {
  background: url(../source/backgroundUp.jpg) no-repeat;
  background-size: 100%;
  opacity: 0.7;
  height: 200px; }

.myNav {
  font-size: 20px;
  font-family: sans-serif; }
  .myNav .upperBlock {
    font-family: milkshake; }
  .myNav .logoTitle {
    font-size: 100px;
    color: red;
    font-style: italic; }

div.upperBlock {
  position: relative; }

div.upperBlock p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-top: -100px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

div.downBlock {
  position: relative;
  width: 100px;
  float: right; }

div.downBlock img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -60px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#navbarSupportedContent a {
  color: #ffffff; }

.navbar {
  height: 100px;
  border-radius: 0px; }
  .navbar li {
    font-size: 16px;
    width: 150px;
    text-align: center;
    height: 100px;
    padding-top: 20px; }
  .navbar li a:hover {
    background: #f3dc8c; }
  .navbar li:hover {
    background: #f3dc8c; }

.navbar.navbar-expand-lg {
  padding: 0rem;
  width: 100%; }

.nav-item {
  border-right: thick solid #f3dc8c; }
  .nav-item:last-child {
    border-right: none; }

.navbar-brand {
  margin-left: 60px;
  margin-bottom: 40px; }

.navbar-nav.my-2.my-lg-0 {
  margin-right: 100px; }

.navbar-collapse.collapse {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c3d062), to(#bfd05e));
  background-image: -webkit-linear-gradient(#c3d062, #bfd05e);
  background-image: -o-linear-gradient(#c3d062, #bfd05e);
  background-image: linear-gradient(#c3d062, #bfd05e); }

.navbar-nav.mr-auto {
  padding-left: 100px; }
